  <div class="container-fluid mt-5 about-style" id="aboutid" >
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">About Us</h1>
                    <p class="text-center sub-heading">Colaborate your Business with us</p>

                    <div class="row">
                        {{!-- left side --}}
                        <div class="col-md-6 col-12 hero-text">
                            <figure>
                                <img src="image/human.svg" alt="A image">
                            </figure>
                        </div>


                        {{!-- right side --}}

                        <div
                            class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                            <h1>WE BUILD TRUST AND CLIENT</h1>
                            <h1>PROJECT GET CRUSH!</h1>
                            <p>Our Expert Team Of Developer hungry For Work. They Won't Sleep For Days If Project Quality For Our Clients Is Not Upto The Mark.
                                <span class="text-bold">Our Team Is Pack With Dedicated Developers ✌️</span></p>
                            <button class="btn-style btn-primary">Read More</button>
                        </div>

                    </div>

                </div>
            </div>





        </div>