<div class="container-fluid mt-5 about-style" id="registerid" >
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Register Now</h1>
                    <p class="text-center sub-heading">We Are Waiting For You</p>

<div class="col-md-10 col-12 mx-auto">
    <form action="/register" method="POST">

  <div class="form-group">
    <label for="exampleInputEmail1">Full Name</label>
    <input type="text" name="fullname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Name">
    
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" name="confirmpassword" class="form-control" id="exampleInputPassword1" placeholder="Confrim Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Ready to Join?</label>
  </div>
  <button type="submit" value="register" class="btn-style btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
